.details {
  font-weight: normal;
}
.ant-divider {
  background-color: grey;
  font-size: large;
  margin-top: 5px;
  margin-bottom: 5px;
}
.detail-text {
  font-weight: bold;
}

.condition {
  width: 100%;
}

.brand {
  width: 100%;
}
.details-title {
  width: fit-content;
  flex: 1;
  text-align: left;
}
.value {
  width: fit-content;
  flex: 1;
}

.description {
  width: 100%;
}
