.content {
  width: 100%;
}

.back-section {
  display: flex;
  width: 100%;
  align-items: center;
  height: auto;
  padding-left: 0 px;
}

button[ant-click-animating-without-extra-node]:after {
  border: 0 none;
  opacity: 0;
  animation: none 0 ease 0 1 normal;
}

.back-btn {
  border: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: transparent;
  font-size: 30px;
  height: 100%;
  padding: 0px;
}
