.ant-layout-header {
  text-align: center;
  /*background-color: #fff !important;*/
}

.ant-layout-content {
  background-color: #fff;
  height: inherit;
}

.item-list {
  padding: 2em;
}

.filter {
  float: right;
}

.items {
  width: 100%;
}

.item-icons {
  height: 5em;
  width: 100%;
}

.map-container {
  /* position: fixed; */
  /* z-index: 0; */
  /* right: 0; */
  /* bottom: 0;
  top: 12.5%; */
  /* width: 100%;
  height: 100%; */
  /* position: 'absolute';
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; */
}
