.ant-layout-header {
  text-align: center;
  /*background-color: #fff !important;*/
}

.ant-layout-content {
  background-color: #fff;
  height: inherit;
}

.item-list {
  padding: 2em;
}

.filter {
  float: right;
}

.items {
  width: 100%;
}

.item-icons {
  height: 5em;
  width: 100%;
}
